.navbar-brand {
    padding: 0px;
  }
  .navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
  }
  .hnav .navbar-brand {
    height: 80px;
  }
  
  .hnav .nav >li >a {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .hnav .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
  }  
  .content-main{
    margin-bottom: 2%;
  }
.discovermore-center{
  width: 7%;
  margin: 0 auto;
}
.discoversearch{
  display: none;
  width: 10%;
  margin: 0 auto;
}